<section class="order-next">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content">
                    <span class="price">{{price}}</span><button class="btn btn-green btn-small btn-steps" (click)="moveToNextStep()">Suivant</button><button class="btn btn-green btn-small btn-substeps" (click)="moveToNextSubStep()">Suivant</button>
                </div>
            </div>
        </div>
    </div>
</section>
    
