@import '../../../assets/scss/variables.scss';

.order-next{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    left: 0;
    background-color: $white;
    box-shadow: 0px 0px 24px #E1E1E1;
    .container{height: 100%;}
    .row{
        height: 100%;
    }
    .content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-substeps{
        display: none;
    }
}