@import '../../../assets/scss/variables.scss';
.recipeWeek{
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
}
.allRecipes{
    margin-top: 50px;
    margin-bottom: 120px;
    h2{
        margin-bottom: 30px;
    }
    .teaser-all{
        display: block;
        margin-bottom: 25px;
    }
}
.recipeChoosen{
    background-color: $mint-cream;
    padding: 10px 15px;
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    display: flex;
    .meal-choose {
        width: 40px;
        height: 40px;   
        background: $lightGreen;
        border: 1px dashed $green;
        margin-right: 25px;
        border-radius: 10px;
        &.hide{
            display: none;
        }
    }
}