<div class="step2">
    <article class="recipeWeek">
        <h2 class="small big">Nos menus de la semaine du 16 janvier</h2>
        <drag-scroll>
            <app-recipe-teaser drag-scroll-item *ngFor="let recipe of recipeWeek" [recipe]="recipe"></app-recipe-teaser>
          </drag-scroll>
    </article>
    <article class="allRecipes">
        <h2 class="small big">Nos plats permanents</h2>
        <div>
            <app-recipe-teaser class="teaser-all" *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-teaser>
        </div>
    </article>
</div>
<div class="recipeChoosen" #recipesChoosenList>
    <div class="meal-choose meal-1"></div>
    <div class="meal-choose meal-2"></div>
    <div class="meal-choose meal-3"></div>
    <div class="meal-choose meal-4"></div>
    <div class="meal-choose meal-5"></div>
    <div class="meal-choose meal-6"></div>
    <div class="meal-choose meal-7"></div>
</div>