<div class="step3">
    <article class="choice-1 adresse active" #choice1>
        <h1 class="title regular">Ajoutez une adresse</h1>
        <div class="form">
            <div class="form-group">
                <input type="text" name="name" id="name" value="" (change)="checkChangeAddressInput($event.target)">
                <label for="">Nom de l'addresse</label>
            </div>
            <div class="form-group">
                <input type="text" name="road" id="road" value="" (change)="checkChangeAddressInput($event.target)">
                <label for="">N° de voie et rue</label>
            </div>
            <div class="form-group">
                <input type="text" name="zipcode" id="zipcode" value="" (change)="checkChangeAddressInput($event.target)">
                <label for="">Code Postal</label>
            </div>
            <div class="form-group">
                <input type="text" name="city" id="city" value="" (change)="checkChangeAddressInput($event.target)">
                <label for="">Ville</label>
            </div>
            <div class="form-group">
                <input type="text" name="infos" id="infos" value="" (change)="checkChangeAddressInput($event.target)">
                <label for="">Informations complémentaires</label>
            </div>
            <div class="form-group">
                <input type="tel" name="phone" id="phone" value="" (change)="checkChangeAddressInput($event.target)">
                <label for="">Numéro de téléphone</label>
            </div>
        </div>
    </article>
    <article class="choice-2" #choice2>
        <h1 class="title regular">Votre livraison :</h1>
        <h2 class="little-title small">Livraison chez moi :</h2>
        <div class="address-box">
            <ul>
                <li class="addressName" #addressName>Ma Maison</li>
                <li class="address" #addressRoad>7 rue des Ardennes
                    75019, Paris, France</li>
                <li class="phone" #addressPhone>0101010101</li>
            </ul>
        </div>
        <div class="time">
            <h2 class="little-title small">Je choisi mon créneau :</h2>
            <p>vous pouvez modifier votre créneau jusqu’à 48h avant sa livraison</p>
            <div class="form-group">
                <input type="date" name="date" id="" (change)="checkChangeDeliveryInput($event.target)">
                <label for="">Date</label>
            </div>
            <div class="form-group horaire">
                <label for="">Horaire : </label>
                <div>
                    <select name="hour" id="" (change)="checkChangeDeliveryInput($event.target)">
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                    </select> H <select name="min" id="" (change)="checkChangeDeliveryInput($event.target)">
                        <option value="00">00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                </div>
            </div>
        </div>
    </article>
    <div #selectNext>
        <app-next-order class="select-next"></app-next-order>
    </div>
</div>
    