@import '../../../assets/scss/variables.scss';

.step3{
    .choice-1, 
    .choice-2{
      display: none;
    }
    
    .choice-1, 
    .choice-2{
      &.active{
          display: block;
      }
    }

    .choice-1{
        .title{
            margin-bottom: 40px;
            text-align: center;
        }
        .form-group{
            position: relative;
            margin-bottom: 45px;
            input{
                display: block;
                width: 100%;
                padding: 9px;
                background-color: transparent;
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 16px;
                border: none;
                border-bottom: 1px solid $dark-blue;
            }
            label{
                position: absolute;
                left: 0;
                top: 0px;
                transform: translateY(-100%);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                color: $green;
            }
        }
    }

    .choice-2{
        .title{
            margin-bottom: 30px;
        }

        .address-box{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin-top: 17px;
            ul{
                width: 100%;
                padding: 0 20px 8px;
                li{
                    padding: 8px;
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: $black;
                    &:first-of-type{
                        font-size: 15px;
                        font-weight: 600;
                    }
                    &+li{
                        border-top: 0.5px solid rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .time{
            .little-title{
                margin-bottom: 5px;
                margin-top: 30px;
            }
            p{
                font-family: 'Open Sans';
                font-style: italic;
                font-weight: 400;
                color: $black;
                margin-bottom: 35px;
            }
            .form-group{
                position: relative;
            margin-bottom: 45px;
            input{
                display: block;
                width: 100%;
                padding: 9px;
                background-color: transparent;
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 16px;
                border: none;
                border-bottom: 1px solid $dark-blue;
            }
            label{
                position: absolute;
                left: 0;
                top: 0px;
                transform: translateY(-100%);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                color: $green;
            }
            &.horaire{
                display: flex;
                align-items: center;
                label{
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: translateY(0);
                    font-size: 16px;
                    color: $black;
                    margin-right: 18px;
                }
                div{
                    display: flex;
                    align-items: center;
                    select{
                        border: none;
                        background: $white;
                        box-shadow: 0px 9px 39px rgba(0, 0, 0, 0.03);
                        border-radius: 10px;
                        font-family: 'Open Sans';
                        font-weight: 600;
                        font-size: 16px;
                        color: $black;
                        padding: 5px;
                    }
                }
            }
            }
        }
    }

    .select-next{
        position: relative;
        z-index: 1;
        &.remove{display: none;}
        .btn-steps{display: none;}
        .btn-substeps{display: inline-block !important;}
    }

    .remove{
        display: none;
    }
}