<app-steps></app-steps>
    <section class="container">
        <div class="row">
            <div [ngSwitch]="(currentStep | async)?.stepIndex" class="col-xs-12">
                <div *ngSwitchCase="'1'">
                    <app-step-one></app-step-one>
                    <app-next-order></app-next-order>
                </div>
                <div *ngSwitchCase="'2'">
                    <app-step-two></app-step-two>
                    <app-next-order></app-next-order>
                </div>
                <div *ngSwitchCase="'3'">
                    <app-step-three></app-step-three>
                    <app-next-order></app-next-order>
                </div>
                <div *ngSwitchCase="'4'">
                    <app-step-four></app-step-four>
                </div>
            </div>
        </div>
    </section>


