@import '../../../assets/scss/variables.scss';

.step4{
    .choice-1, 
    .choice-2 {
      display: none;
    }
    
    .choice-1, 
    .choice-2 {
      &.active{
          display: block;
      }
    }
    .choice-1{
        .title{
            margin-bottom: 30px;
        }
        .recap{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin-top: 17px;
            ul{
                width: 100%;
                padding: 0 20px 8px;
                li{
                    padding: 8px;
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: $black;
                    position: relative;
                    .price{
                        position: absolute;
                        right: 20px;
                        bottom: 8px;
                    }
                    &+li{
                        border-top: 0.5px solid rgba(0, 0, 0, 0.3);
                    }
                    &.total{
                        span{
                            &:first-of-type{
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                            &:last-of-type{
                                position: absolute;
                        right: 20px;
                        bottom: 8px;
                        font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .address{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin-top: 30px;
            ul{
                width: 100%;
                padding: 0 20px 8px;
                li{
                    padding: 8px;
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: $black;
                    &:first-of-type{
                        font-size: 15px;
                        font-weight: 600;
                    }
                    &+li{
                        border-top: 0.5px solid rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .delivery{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin-top: 30px;
            ul{
                width: 100%;
                padding: 0 20px 8px;
                li{
                    padding: 8px;
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: $black;
                    &:first-of-type{
                        font-size: 15px;
                        font-weight: 600;
                    }
                    &+li{
                        border-top: 0.5px solid rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .meals{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin-top: 30px;
            ul{
                width: 100%;
                padding: 0 20px 8px;
                li{
                    padding: 8px;
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: $black;
                    &:first-of-type{
                        font-size: 15px;
                        font-weight: 600;
                    }
                    &+li{
                        border-top: 0.5px solid rgba(0, 0, 0, 0.3);
                    }
                    &.recipe-item{
                        display: flex;
                        align-items: center;
                        .image{
                            position: relative;
                            width: 70px;
                            height: 70px;
                            border-radius: 100px;
                            overflow: hidden;
                            margin-right: 12px;
                            img{
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 110px;
                            }
                        }
                        p{
                            font-family: 'Open Sans';
                            font-weight: 600;
                            font-size: 14px;
                            color: $black;
                        }
                    }
                }
            }
        }

        .go-paiement{
            position: fixed;
            bottom: 17px;
            left: 50%;
            transform: translateX(-50%);
            &.remove{
                display: none;
            }
        }
    }
    .choice-2{
        .recap{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin-top: 17px;
            margin-bottom: 35px;
            ul{
                width: 100%;
                padding: 0 20px 8px;
                li{
                    padding: 8px;
                    font-family: 'Open Sans';
                    font-size: 14px;
                    color: $black;
                    position: relative;
                    &.total{
                        span{
                            &:first-of-type{
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                            &:last-of-type{
                                position: absolute;
                        right: 20px;
                        bottom: 8px;
                        font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        #card-element{
            background-color: $white;
            padding: 5px 10px;
            border-radius: 10px;
            box-shadow: 0px 9px 39.96px rgba(0, 0, 0, 0.03);
            margin: 25px 0;
        }

        .pay{
            position: fixed;
            bottom: 17px;
            left: 50%;
            transform: translateX(-50%);
            &.remove{
                display: none;
            }
        }
    }
}