<div class="step4">
    <article class="choice-1 active" #choice1>
        <h1 class="title regular">Votre commande :</h1>
        <div class="recap">
            <ul>
                <li>
                    <p>Personnes : {{ box.person }}</p>
                    <p>{{ box.meals }} repas</p>
                    <p class="price">50€</p>
                </li>
                <li>Livraison : <span class="price">Offerte</span></li>
                <li class="total"><span>Total:</span> <span>50€</span></li>
            </ul>
        </div>
        <div class="address">
            <ul>
                <li>Ma livraison</li>
                <li>{{ box.address.road }} {{ box.address.city }} </li>
            </ul>
        </div>
        <div class="delivery">
            <ul>
                <li>Mon créneau</li>
                <li>{{ box.delivery.date }} à {{ box.delivery.hour }}h{{ box.delivery.min }}  </li>
            </ul>
        </div>
        <div class="meals">
            <ul>
                <li>Mes recettes</li>
                <li *ngFor="let recipe of recipes" class="recipe-item">
                        <div class="image">
                            <img src="{{recipe.image}}" alt="">
                        </div>
                        <p>{{ recipe.name }}</p>
                </li>
            </ul>
        </div>
        <button class="btn btn-blue go-paiement" #goPayement (click)="NextStep()">Passer au paiement</button>
    </article>
    <article class="choice-2" #choice2>
        <div class="recap">
            <ul>
                <li class="total"><span>Total:</span> <span>50€</span></li>
            </ul>
        </div>
        <div class="card">
            <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                  <label for="card-element">Credit or debit card</label>
                  <div id="card-element"></div>
                  <div id="card-errors" role="alert"></div>
                </div>
                <button type="submit" class="btn btn-blue pay">Payer</button>
              </form>
        </div>
    </article>
</div>
    