<div class="step1">
<article class="choice-1 number-choice active" #choice1>
    <h1 class="title regular">Je veux une box pour:</h1>
    <div class="models">
        <div class="model">
            <img src="../../../assets/img/icons/people.svg" alt="" class="people">
            <div class="plates">
                <img src="../../../assets/img/icons/salad.svg" alt="">
                <img src="../../../assets/img/icons/salad.svg" alt="">
                <img src="../../../assets/img/icons/salad.svg" alt="">
            </div>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="people">Nombre d'étudiants</label>
            <div>
                <span class="number">1</span>
                <input type="range" id="people" name="people" min="1" max="3" value="1" #person>
                <span class="number">3</span>
            </div>
          </div>
          <div class="form-group">
            <label for="meal">Nombre de repas</label>
            <div>
                <span class="number">3</span>
                <input type="range" id="meal" name="meal" min="3" max="7" value="3" #meal>
                <span class="number">7</span>
            </div>
          </div>
    </div>

</article>
<article class="choice-2 diet-choice" #choice2>
    <h1 class="title regular">Je suis :</h1>
    <div class="models">
        <div class="model">
            <img src="../../../assets/img/icons/people.svg" alt="" class="people">
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <input type="radio" name="diet" id="carni" value="" (change)="radioChange($event.target)" checked required>
            <label for="carni"><img src="../../../assets/img/icons/carnivore.svg" alt="" >Carnivore</label>
        </div>
        <div class="form-group">
            <input type="radio" name="diet" id="vege" value="603a5ad3c95fdb0b3a9162df" (change)="radioChange($event.target)" required>
            <label for="vege"><img src="../../../assets/img/icons/vege.svg" alt="">Végétarien</label>
        </div>
        <div class="form-group">
            <input type="radio" name="diet" id="vegan" value="603a5d66c95fdb0b3a9162e1" (change)="radioChange($event.target)" required>
            <label for="vegan">
                <img src="../../../assets/img/icons/vegan.svg" alt="">
                Vegan</label>
        </div>
    </div>
</article>
<article class="choice-3 utensils-choice" #choice3>
    <h1 class="title regular">Chez moi je dispose de :</h1>
    <div class="models">
        <div class="model">
            <img src="../../../assets/img/icons/people.svg" alt="" class="people">
        </div>
    </div>
    <div class="form">
        <div class="tools" *ngFor="let tool of tools | async">
            <input type="checkbox" name="tool" id="{{tool._id}}" value="{{tool._id}}" (change)="checkChange($event.target)">
            <label for="{{tool._id}}">{{tool.name}}</label>
        </div>
    </div>
</article>
<div  #selectNext>
    <app-next-order class="select-next"></app-next-order>
</div>
</div>
