@import '../../../assets/scss/variables.scss';
.step1{
    .choice-1, 
    .choice-2,
    .choice-3 {
      display: none;
    }
    
    .choice-1, 
    .choice-2,
    .choice-3 {
      &.active{
          display: block;
      }
    }
    
    .title {
      text-align: center;
    }
    
    .models {
        display: flex;
        justify-content: center;
        margin: 25px 0 40px;
    
        .model {
          position: relative;
          width: 105px;
    
          .people {
            display: block;
            width: 100%;
          }
    
          .plates {
            position: absolute;
            bottom: 0;
            left: 55%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            flex-direction: column;
    
            img {
              width: 55px;
              display: block;
            }
          }
    
          &+.model {
            left: -30px;
          }
        }
      }
    
    .choice-1 {
    
      .form-group {
          margin-bottom: 25px;
          label{
              display: block;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 15px;
          }
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
    
          .number {
            font-family: 'Open Sans';
            font-size: 25px;
            font-weight: 700;
            color: $black;
            &:first-of-type{
                margin-right: 10px;
            }
            &:last-of-type{
                margin-left: 10px;
            }
          }
        }
      }
    }
    
    .choice-2{
        .form{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .form-group{
                margin-bottom: 15px;
                input{
                    display: none;
                }
                input:checked + label{
                    border: 2px solid $green;
                }
                label{
                    padding: 10px;
                    display: block;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 700;
                    font-family: 'Raleway';
                    border-radius: 15px;
                    border: 2px solid $light-blue;
                    img{
                        display: block;
                        height: 50px;
                        margin: 0 auto 5px;
                    }
                }
            }
        }
    }
    
    .choice-3{
        .form{
            display: flex;
            flex-wrap: wrap;
            .tools{ 
                width: calc(100% / 2 - 7.5px);
                margin-bottom: 15px;
                &:nth-of-type(2n){
                    margin-left: 15px;
                }
                input{
                    display: none;
                }
                label{
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        border: 2px solid $dark-blue;
                        border-radius: 5px;
                        vertical-align: bottom;
                        margin-right: 5px;
                    }
                }
                input:checked + label::before{
                    border-color: $green;
                    background-image: url(../../../assets/img/icons/input-check.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
    
        }
        
    }
    
    .select-next{
        position: relative;
        z-index: 1;
        &.remove{display: none;}
        .btn-steps{display: none;}
        .btn-substeps{display: inline-block !important;}
    }
    
    .remove{
        display: none;
    }
    
}
