/* VARIABLES */

$red : #FF6266;
$light-red: #FAABB0;
$dark-blue : #23243B;
$light-blue : #F4F5FA;
$green : #6BC57D;
$lightGreen : #D9F2E3;
$grey : #C4C4C4;
$nobel: #979797;
$white : #fff;
$black: #000;
$charcoal : #4A4A4A;
$mint-cream : #F5FDFC;

  