@import '../../../assets/scss/variables.scss';

footer{
    background-color: $white;
    margin-top: 45px;
    padding: 30px 0;
    .logo{
        text-align: center;
        p{
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid $red;
            padding: 30px 0;
            color: $charcoal;
        }
    }

    .copyright{
        text-align: center;
        color: $charcoal;
        font-size: 14px;
        font-weight: 600;
        margin-top: 50px;
    }
}