<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 logo">
                <img src="../../assets/img/logo/logo-blue.svg" alt="">
                <p>Recevez notre newsletter pour plus de recettes et de bons plans !</p>
            </div>
            <div class="col-xs-12">
                
            </div>
            <div class="col-xs-12">
                <p class="copyright">SIMPLEAT © 2021</p>
            </div>
        </div>
    </div>
</footer>
