@import '../../../assets/scss/variables.scss';
.teaser-all{
    margin-bottom: 20px;
}
.recipe-item{
    background-color: #fff;
    box-shadow: 0px 9.99008px 39.9603px rgba(0, 0, 0, 0.03);
    width: 100%;
    display: inline-flex !important;
    padding: 15px 20px;
    border-radius: 20px;
    .image{
        width: 70px;
        height: 70px;
        border-radius: 100px;
        position: relative;
        overflow: hidden;
        margin-right: 8px;
        img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .content{
        width: calc(100% - 78px);
        .title-recipe{
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 600;
            color: $black;
            margin-bottom: 5px;
            white-space: break-spaces;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .ingredient{
                font-family: 'Open Sans';
            font-size: 12px;
            font-weight: 400;
            color: $nobel;
            }
        }
        .time{
            font-family: 'Open Sans';
            font-size: 12px;
            font-weight: 600;
            color: $red;
            display: inline-block;
            margin-right: 10px;
            &::before{
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                background-image: url(../../../assets/img/icons/clock.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                vertical-align: text-bottom;
                margin-right: 5px;
            }
        }

        .btn-fill-green{
            display: none;
            &.show{
                display: inline-block;
            }
        }
        .btn-outline-green{
            &.hide{
                display: none;
            }
        }
    }
}