<article class="slide recipe-item" attr.data-id="{{recipe._id}}">
    <div class="image">
        <img src="{{recipe.image}}" alt="">
    </div>
    <div class="content">
        <h4 class="title-recipe">{{ recipe.name }}</h4>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients;" class="ingredient">
                {{ ingredient.name }},&nbsp;
            </li>
        </ul>
        <p class="time">{{recipe.time}}min</p>
        <button class="btn btn-extra-small btn-outline-green" (click)="addToBox($event.target)">Ajouter le plat</button>
        <button class="btn btn-extra-small btn-fill-green" (click)="removeToBox($event.target)">Supprimer le plat</button>
    </div>
</article>
