@import '../../../assets/scss/variables.scss';

.steps-path{
    margin: 100px auto 30px;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            a{
                display: block;
                text-align: center;
                position: relative;
                z-index: 1;
                .circle{
                    display: inline-block;
                    width: 40px;
                    border: 1px solid $light-red;
                    line-height: 38px;
                    text-align: center;
                    border-radius: 100px;
                    font-family: 'Open Sans';
                    font-size: 18px;
                    font-weight: 700;
                    color: $light-red;
                    background-color: $light-blue;
                }
                .name{
                    font-family:' Open Sans';
                    font-size: 14px;
                    font-weight: 300;
                    color: $black;
                    margin-top: 5px;
                }
                &.step-current, .step-complete{
                    z-index: 2;
                    .circle{
                        background-color: $red;
                        color: $white;
                        border-color: $red;
                    }
                    &::before{
                        background-color: $red;
                    }
                }
            }
            &+li{
                a{
                    &::before{
                        content: '';
                        display: block;
                        width: 55px;
                        height: 2px;
                        background-color: $light-red;
                        position: absolute;
                        top: 19px;
                        left: 0;
                        transform: translateX(-60%);
                        z-index: -1;
                    }
                }
            }
        }
    }
}