<div class="steps-path container">
   <div class="row">
       <div class="col-xs-10 col-xs-offset-1">
           <ul>
            <li *ngFor="let step of steps | async; let i = index;">
                <a href="" (click)="onStepClick(step)"
                [ngClass]="{ 'step-complete': step.isComplete, 'step-incomplete': !step.isComplete, 'step-current': (currentStep | async)?.stepIndex === step.stepIndex }">
                  <span class="circle" >{{ step.stepIndex }}</span>
                  <p class="name">{{ step.name }}</p>
                </a>
              </li>
           </ul>
       </div>
   </div>
</div>