.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    img{
        width: 100%;
    }
    .logo{
        height: 30px;
        width: auto;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}
    
   
    