@import '../../../assets/scss/variables.scss';

.banner{
    background-image: url(../../../assets/img/home/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center 55%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
    z-index: 1;
    &::before{
        content: '';
        display: block;
       position: absolute;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0.07%, rgba(0, 0, 0, 0) 100%);
       border-radius: 0px 0px 40px 40px;
       z-index: 1;
    }
    h1{
        font-family: 'Hashed Brown';
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-blue;
        margin: 0 0 60px;
        z-index: 2;
        text-align: center;
    }
    p{
        z-index: 2;
        margin: 0;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 30px;
        color: $white;
        text-align: center;
        line-height: 1.2;
        strong{
            font-weight: 800;
            color: $green;
            &:nth-of-type(2){
                color: $red;
            }
        }
    }
    .btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        white-space: nowrap;
        z-index: 2;
    }
    button{
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        img{
            height: 15px;
        }
    }
}

.steps{
    .title-box{
        position: relative;
        margin-top: 130px;
        margin-bottom: 60px;
        .title{
            max-width: 200px;
        }
        img{
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(40%, -45%);
            width: 270px;
        }
    }
    .step{
        .arrow{
            display: block;
            width: 80px;
            margin: 0 0 10px 20px;
        }
        p{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 16px;
            color: $black;
            margin: 20px 0 13px;
        }
        &.step1{
            .illustration{
                max-width: 133px;
                width: 100%;
                transform: translateX(-15px);
            }
        }
        &.step2{
            margin-top: 60px;
            .illustration{
                display: block;
                margin: 0 auto;
                max-width: 142px;
                width: 100%;
            }
        }
        &.step3{
            margin-top: -60px;
            .arrow{
                margin: 0 0 10px auto;
            }
            .illustration{
                width: 100%;
            }
        }
        &.step4{
            margin-top: 60px;
            .illustration{
                max-width: 114px;
                width: 100%;
            }
        }
    }
}

.recipe-week{
    h2{
        margin: 50px auto 60px;
        text-align: center;
    }
    .recipe-item{
        background-color: #fff;
        box-shadow: 0px 9.99008px 39.9603px rgba(0, 0, 0, 0.03);
        margin-right: 15px;
        width: 90%;
        display: inline-flex !important;
        padding: 15px 20px;
        border-radius: 20px;
        .image{
            width: 70px;
            height: 70px;
            border-radius: 100px;
            position: relative;
            overflow: hidden;
            margin-right: 8px;
            img{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .content{
            width: calc(100% - 78px);
            .title-recipe{
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 600;
                color: $black;
                margin-bottom: 5px;
                white-space: break-spaces;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
                .ingredient{
                    font-family: 'Open Sans';
                font-size: 12px;
                font-weight: 400;
                color: $nobel;
                }
            }
            .time{
                font-family: 'Open Sans';
                font-size: 12px;
                font-weight: 600;
                color: $red;
                &::before{
                    content: '';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background-image: url(../../../assets/img/icons/clock.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    vertical-align: text-bottom;
                    margin-right: 5px;
                }
            }
        }
    }
    .button-box{
        text-align: center;
        margin-top: 35px;
        a{display: inline-block;}
    }
}

.reduction{
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0px 9.99008px 39.9603px rgba(0, 0, 0, 0.03);
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    h3{
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 20px;
        color: $green;
        span{
            font-family: 'Raleway';
            font-size: 30px;
            margin-top: 10px;
        }   

    }
    p{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 20px;
        color: $black;
        margin: 10px 0;
    }
    img{
        width: 92px;
        display: block;
        margin: 0 auto;
    }
}
.engagement{
    margin-top: 50px;
    .title-background{
        background-image: url(../../../assets/img/home/bg-engagements.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;
        margin-bottom: 38px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.29);
            z-index: 1;
        }
        h2{
            z-index: 1;
            color: $white;
        }
    }
    .content{
        width: 100%;
        text-align: center;
        vertical-align: top;
        margin-right: 15px;
        p{
            white-space: break-spaces;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 400;
            color: $black;
            line-height: 1.5;
            .red{
                color: $red;
                font-weight: 700;
            }
            .green{color: $green; font-weight: 700;}
        }
        ul{
            display: inline-flex;
            margin-top: 10px;
            li{
                img{
                    height: 50px;
                }
                &+li{
                    margin-left: 15px;
                }
            }
        }
    }
    .button-box{
        text-align: center;
        margin-top: 35px;
        a{display: inline-block;}
    }
}