<div class="container">
    <section class="row">
        <article class="col-xs-12 banner" id="banner" #banner>
            <h1>Fini les pâtes au sel !</h1>
            <p>Même en étant étudiant, manger <strong>bio</strong> et <strong>local</strong> c’est simple</p>
            <a href="" class="btn btn-blue">commander ma box</a>
            <button class="down"><img src="../../assets/img/icons/arrow-down.svg" alt=""></button>
        </article>
    </section>
    <section class="row steps">
        <article class="col-xs-12 title-box">
            <h2 class="title big">Comment ça fonctionne ?</h2>
            <img src="../../assets/img/home/salad.png" alt="">
        </article>
        <article class="col-xs-6 step step1">
            <h3 class="little-title underline">Step 1</h3>
            <p>Choisis ta box et tes préférences.</p>
            <img src="../../assets/img/home/phone-step1.svg" alt="" class="illustration">
        </article>
        <article class="col-xs-6 step step2">
            <img src="../../assets/img/home/desing-arrow-right.svg" alt="" class="arrow">
            <h3 class="little-title underline">Step 2</h3>
            <p>Choisis les recettes que tu préfères !</p>
            <img src="../../assets/img/home/box-step2.svg" alt="" class="illustration">
        </article>
        <article class="col-xs-6 step step3">
            <img src="../../assets/img/home/design-arrow-left.svg" alt="" class="arrow">
            <h3 class="little-title underline">Step 3</h3>
            <p>Fais toi livrer où tu veux & quand tu veux !</p>
            <img src="../../assets/img/home/delivery-step3.svg" alt="" class="illustration">
        </article>
        <article class="col-xs-6 step step4">
            <img src="../../assets/img/home/desing-arrow-right.svg" alt="" class="arrow">
            <h3 class="little-title underline">Step 4</h3>
            <p>Déguste ton plat et abonne toi pour continuer de cuisiner !</p>
            <img src="../../assets/img/home/cook-step4.svg" alt="" class="illustration">
        </article>
    </section>
    <section class="row recipe-week">
        <h2 class="col-xs-12 title big">Nos menus de la semaine du 16 janvier</h2>
          <drag-scroll class="col-xs-12">
            <article drag-scroll-item *ngFor="let recipe of recipes" class="slide recipe-item">
                
                <div class="image">
                    <img src="{{recipe.image}}" alt="">
                </div>
                <div class="content">
                    <h4 class="title-recipe">{{ recipe.name }}</h4>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients;" class="ingredient">
                            {{ ingredient.name }},&nbsp;
                        </li>
                    </ul>
                    <p class="time">{{recipe.time}}min</p>
                </div>
            </article>
          </drag-scroll>
          <div class="col-xs-12 button-box">
            <a href="" class="btn btn-blue">commander ma box</a>
          </div>
    </section>
    <section class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <article class="reduction">
                <h3>Jusqu'à<br><span>50% d'économies</span></h3>
                <p>pour toi qui est étudiant par rapport à un panier de repas classique</p>
                <img src="../../assets/img/home/recuction.svg" alt="">
            </article>
        </div>
    </section>
    <section class="row engagement">
        <div class="col-xs-12">
            <div class="title-background">
                <h2 class="title big">Nos Engagements</h2>
            </div>
        </div>
        <drag-scroll class="col-xs-12">
            <article drag-scroll-item class="content">
                <p>Nos ingrédients utilisés sont <span class="red">100% Bio</span> et <span class="red">locaux</span>. Ils proviennent de producteurs en France proche de votre région afin de garentir une <span class="green">meilleure qualité</span> et le plus de <span class="green">transparence</span> possible</p>
                <ul>
                    <li><img src="../../assets/img/home/ab.png" alt=""></li>
                    <li><img src="../../assets/img/home/euroBio.png" alt=""></li>
                </ul>
            </article>
            <article drag-scroll-item class="content">
                <p>Nos ingrédients utilisés sont <span class="red">100% Bio</span> et <span class="red">locaux</span>. Ils proviennent de producteurs en France proche de votre région afin de garentir une <span class="green">meilleure qualité</span> et le plus de <span class="green">transparence</span> possible</p>
            </article>
          </drag-scroll>
          <div class="col-xs-12 button-box">
            <a href="" class="btn btn-blue">En savoir plus</a>
          </div>
    </section>
</div>