/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';
@import './assets/scss/variables.scss';

/** FONTS **/

@font-face {
  font-family: 'Hashed Brown';
  src: url('./assets/fonts/hashedBrowns/Hashed-Browns.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-bolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-extrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-extrabolditalic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/opensans/opensans-semibolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;

}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Bold.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Black.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Black.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-ExtraLightItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-ExtraLightItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-ExtraLight.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-BoldItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-ExtraBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-ExtraBoldItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-BlackItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-BlackItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Regular.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-SemiBoldItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-LightItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-LightItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Italic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Italic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Italic.svg#Raleway-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-SemiBold.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Medium.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Medium.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Light.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Light.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-ThinItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-ThinItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-MediumItalic.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-MediumItalic.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-Thin.woff2') format('woff2'),
      url('./assets/fonts/raleway/Raleway-Thin.woff') format('woff'),
      url('./assets/fonts/raleway/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* FONT ICON */

@font-face {
  font-family: 'icomoon menu';
  src:  url('./assets/fonts/font-menu/icomoon.eot?jpi3qq');
  src:  url('./assets/fonts/font-menu/icomoon.eot?jpi3qq#iefix') format('embedded-opentype'),
    url('./assets/fonts/font-menu/icomoon.ttf?jpi3qq') format('truetype'),
    url('./assets/fonts/font-menu/icomoon.woff?jpi3qq') format('woff'),
    url('./assets/fonts/font-menu/icomoon.svg?jpi3qq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon menu' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-user .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-box:before {
  content: "\e902";
  color: #c4c4c4;
}
.icon-home:before {
  content: "\e903";
  color: #c4c4c4;
}
.icon-search:before {
  content: "\e904";
  color: #c4c4c4;
}

    

/* GRILLE  */
$container-width-xl:1440px;
$container-width-lg:1024px;
$container-width-sm:768px;
$container-width-xs:100%;
$gutter-reset-xs: -15px;
$gutter-reset-sm: -15px;
$gutter-xs: 15px;
$gutter-sm: 10px;
$margin-xs:15px;
$margin-sm: 22px;
$margin-lg:30px;
$margin-xl:46px;
$col-number-xs:12;
$col-number-sm:12;
$col-number-lg: 24;
$col-number-xl: 24;

/* FIN GRILLE  */


.container{
  width: $container-width-xs;
  padding-left: $margin-xs;
  padding-right: $margin-xs;
  margin-left: auto;
  margin-right: auto;
  min-height: 1px;
  position: relative;
}
  

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutter-reset-xs;
  margin-right: $gutter-reset-xs;
  min-height: 1px;
  position: relative;
}
  

[class^=col-]{
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: $gutter-xs;
  padding-right: $gutter-xs;
  position: relative;
} 
  

@for $i from 0 through $col-number-xs{

  .col-xs-#{$i}{
    flex: 0 0 calc((100% / #{$col-number-xs} ) * #{$i});
    max-width: calc((100% / #{$col-number-xs} ) * #{$i});
  }
  
.col-xs-offset-#{$i}{
  margin-left: calc((100% / #{$col-number-xs} ) * #{$i});
} 
  

}

@media (min-width: 768px){
  .container{
    width: $container-width-sm;
    padding-left: $margin-sm;
    padding-right: $margin-sm;
  } 
    
  .row{
    margin-left: $gutter-reset-sm;
    margin-right: $gutter-reset-sm;
  } 
    
  [class^=col-]{
    padding-left: $gutter-sm;
    padding-right: $gutter-sm;
  } 
    
  
  @for $i from 0 through $col-number-sm{
    .col-sm-#{$i}{
      flex: 0 0 calc((100% / #{$col-number-sm} ) * #{$i});
      max-width: calc((100% / #{$col-number-sm} ) * #{$i});
    } 
    .col-sm-offset-#{$i}{
      margin-left: calc((100% / #{$col-number-sm} ) * #{$i});
    } 
  } 
    
}  
    
      
    
@media (min-width: 1024px){
  .container{
    width: $container-width-lg;
    padding-left: $margin-lg;
    padding-right: $margin-lg;
  } 

  @for $i from 0 through $col-number-lg{
    .col-lg-#{$i}{ 
      flex: 0 0 calc((100% / #{$col-number-lg} ) * #{$i});
      max-width: calc((100% / #{$col-number-lg} ) * #{$i});
    }
    .col-lg-offset-#{$i}{
      margin-left: calc((100% / #{$col-number-lg} ) * #{$i});
    }
  } 
} 
  
    

@media (min-width: 1440px){
  .container{
    width: $container-width-xl;
    padding-left: $margin-xl;
    padding-right: $margin-xl;
  }
  @for $i from 0 through $col-number-xl{
    .col-xl-#{$i}{
      flex: 0 0 calc((100% / #{$col-number-xl} ) * #{$i});
      max-width: calc((100% / #{$col-number-xl} ) * #{$i});
    }
    .col-xl-offset-#{$i}{
      margin-left: calc((100% / #{$col-number-xl} ) * #{$i});
    }
  }
}
  
/** RESET **/

*{
  box-sizing: border-box
}

html{
  overflow-x: hidden;
  background-color: $light-blue;
}

body{
  overflow-x: hidden;
  margin-bottom: 60px;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus, a:visited{
  text-decoration: none;
}
button{
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

/* CUSTOM */

.btn{
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  &.btn-blue{
    background-color: $dark-blue;
    padding: 15px 30px;
    border-radius: 15px;
  }
  &.btn-green{
    background-color: $green;
  }
  &.btn-outline-green{
    background-color: transparent;
    border: 1px solid $green;
    color: $green;
    text-transform: initial;
  }
  &.btn-fill-green{
    background-color: $green;
    border: 1px solid $green;
    color: $white;
    text-transform: initial;
  }
  &.btn-small{
    padding: 10px 25px;
    border-radius: 10px;
  }
  &.btn-extra-small{
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 8px;
  }
}

.title{
  font-family: 'Raleway';
  color: $dark-blue;
  font-weight: 700;
  &.big{
    font-size: 30px;
  }
  &.regular{
    font-size: 25px;
  }
  &.small{
    font-size: 20px;
  }
}

.little-title{
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: $black;
    position: relative;
    z-index: 1;
    &.underline{
        &::before{
          content: '';
          display: block;
          width: 80%;
          height: 4px;
          background-color: $red;
          border-radius: 100px;
          position: absolute;
          bottom: 0;
          left: 30%;
          z-index: -1;
        }
    }
    &.small{
      font-size: 16px;
    }
}

/* INPUTS */


input[type=range] {
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #e6e7ec;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 100px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10px;
  width: 50px;
  height: 30px;
  background: #6bc57d;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 22px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fafafb;
}
input[type=range]::-moz-range-track {
  background: #e6e7ec;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 100px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 50px;
  height: 30px;
  background: #6bc57d;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 22px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #d2d4dd;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 200px;
}
input[type=range]::-ms-fill-upper {
  background: #e6e7ec;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 200px;
}
input[type=range]::-ms-thumb {
  width: 50px;
  height: 30px;
  background: #6bc57d;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 22px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #e6e7ec;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fafafb;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
   

