<header>
    <nav>
        <ul>
            <li><a routerLink="" routerLinkActive="active" title="lien ver la page d'accueil"><i class="icon-home"></i></a></li>
            <li><a routerLink="/commande" routerLinkActive="active" title="lien ver la page de commande"><i class="icon-box"></i></a></li>
            <li><a href=""><i class="icon-search"></i></a></li>
            <li><a href=""><i class="icon-user"><span class="path1"></span><span class="path2"></span></i></a></li>
        </ul>
    </nav>
</header>