@import '../../../assets/scss/variables.scss';

header{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0px 0px 24px #E1E1E1;
    border-radius: 10px 10px 0px 0px;
    z-index: 10;
    nav{
        ul{
            display: flex;
            justify-content: space-around;
            li{
                padding: 15px 15px;
                a{
                    i{
                        font-size: 30px;
                    }
                    &.active{
                        i{
                            &::before{
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}